#canvas1 {
	border: 2px solid rgb(0, 6, 20);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

  /* width: 100%;
  height: 100%; */
  z-index: 0;
  pointer-events: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

/* label {
  color: #ff00ea8a;
} */

body, html {
  height: 100%; /* Assurez-vous que la hauteur du body et html est de 100% */
  background-color: rgb(0, 6, 20);
  margin: 0;
  display: flex;
  flex-direction: column; /* Organise les éléments enfants verticalement */
  /* 100% of the viewport height */
  /* min-width: 320px;
  min-height: 100vh; */
  z-index: 1;
}

div {
  color: #c7cfd5;
}

.hidden {
  display: none;
}

.navbar-nav .dropdown-menu {
  width: auto;
  right: 0;
  left: auto;
  min-width: 0;
}

.navbar {
  flex-shrink: 0; /* La navbar ne rétrécit pas */
}

#pong-canvas {
  width: 100%;
  height: 100%;
  border: 10px solid rgb(251, 255, 0);
}


#pongTournament-canvas {
  width: 100%;
  height: 100%;
  border: 10px solid rgb(251, 255, 0);
}

.modal {
  display: none;
}

.modal-content {
  margin: 15% auto;
  width: 80%;
  border: none;
}

#pending-requests-container {
  margin-top: 20px;
}

.request-item {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.request-item p {
  margin: 10px;
  font-size: 1rem;
}

.friend-item {
  border: 1px solid #6c757d;
  padding: 5px 25px 5px 25px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.friend-item > * {
  margin-top: 0;
  margin-bottom: 0;
}

.friend-item img {
  margin-right: 10px;
  margin-left: 10px;
}

.friend-item p:last-of-type {
  margin-left: auto;
}

.modal-title {
  color: green;
}

.search-modal {
  border: none;
}

#editUserModal label {
  text-align: left;
}

#home-section {
  height: 0px;
}

form input:not(#search-username) {
  background-color: transparent !important;
  border: 1px solid #6c757d !important; 
  color: #c7cfd5 !important; 
  border-radius: 8px !important; 
  padding: 8px !important;
  margin-bottom: 5px !important;
}

form label {
  margin-top: 10px;
  color: #6c757d;
}

form input:focus {
  background-color: transparent;
  border-color: #c7cfd5;
}

::placeholder {
  opacity: 0.5 !important;
}

/* #loginForm label,
#registerForm label {
  color: #cacaca; 
  font-size: 16px;
} */

#registerForm label {
  color: #6c757d; /* White color for the text */
  /* Add any other styling you need for your labels here */
}

#registerForm .form-text {
  color: #c7cfd5; /* White color for the text */
  position: relative;
  top: -5px; /* Moves the element up by 10px */
}

#registerForm .form-text.text-muted {
  color: #6c757d !important;
}

.tournoiExtra {
  color: #6c757d;
  margin-top: 10px;
  margin-bottom: 5px;
}

#tournament-section.hidden {
  display: none;
}

.tournament-title {
  color: green;
  padding: 10px;
  margin-bottom: 20px;
}

h2 {
  color: #c7cfd5;
}

h5 {
  color: #c7cfd5;
}

.tournament-row h3 {
  color: #c7cfd5;
  padding: 5px;
  border: 1px solid #6c757d; /* Bordure autour des titres de chaque colonne */
}

.semi-finals h3 {
  text-align: center;
  background-color: transparent; /* Couleur de fond pour les demi-finales */
  border-radius: 8px;
  border: 1px solid #6c757d;
}

.final h3 {
  border-radius: 8px;
  background-color: transparent; /* Couleur de fond pour la finale */
  text-align: center;
  border: 1px solid #6c757d;
}

.winner h3 {
  border-radius: 8px;
  background-color: transparent; /* Couleur de fond pour le vainqueur */
  text-align: center;
  border: 1px solid green;
}

.matches-container {
  border-radius: 8px;
  background-color: transparent; /* Couleur de fond pour chaque match */
  border: 1px solid #6c757d; /* Bordure autour de la zone des matchs */
  padding: 10px;
  margin-bottom: 15px;
}

.container {
  flex-grow: 1; /* Le container prend tout l'espace disponible */
  overflow-y: auto; /* Permettre le défilement dans le container si nécessaire */
}

.match {
  text-align: center;
  background-color: transparent; /* Couleur de fond pour chaque match */
  border: 1px solid #4c5256; /* Bordure pour chaque match */
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}

.match .player {
  text-align: center;
  padding: 5px; /* Espacement autour du texte du joueur */
  color: #c7cfd5;
}

.match .player:last-child {
  border-bottom: none; /* Pas de bordure pour le dernier joueur */
}

.match .vs {
  color: green;
  text-align: center;
  border-bottom: 1px solid #4c5256; /* Bordure entre les joueurs */
  border-top: 1px solid #4c5256; /* Bordure entre les joueurs */

  margin: 10px 0;
}

.tournament-filters .btn-outline-secondary {
  border-color: green;
}

.winner {
  text-align: center;
  padding: 5px; /* Espacement autour du texte du joueur */
  color: #c7cfd5;
}

#available-tournaments {
  max-height: 300px; /* ou la hauteur que vous souhaitez */
  overflow-y: auto; /* active l'ascenseur vertical si nécessaire */
  display: flex;
  flex-direction: column;
  gap: 10px; /* ajoute un espace entre les boutons */
}

.sort-indicator {
  margin-left: 5px;
  user-select: none; 
}


/* .tournament-btn {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white; /* Définir la couleur du texte en blanc
  background-color: #001d3c; 
  border-color: #007bff; 
} */




