#canvas1 {
	border: 2px solid rgb(0, 6, 20);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

/* label {
  color: #ff00ea8a;
} */

body {
  background-color: rgb(0, 6, 20);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  z-index: 1;
}

.hidden {
  display: none;
}

.navbar-nav .dropdown-menu {
  width: auto;
  right: 0;
  left: auto;
  min-width: 0;
}

#pong-canvas {
  width: 800px;
  height: 600px;
  border: 1px solid black;
}

.modal {
  display: none;
}

.modal-content {
  margin: 15% auto;
  width: 80%;
}

#pending-requests-container {
  margin-top: 20px;
}

.request-item {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.request-item p {
  margin: 10;
  font-size: 1rem;
}

.friend-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.friend-item img {
  margin-right: 10px;
}

.modal-title {
  color: #ff00fb;
}

#home-section {
  height: 0px;
}

#loginForm label {
  color: #cacaca; 
  font-size: 16px;

}

#login-username,
#login-password {
  background-color: transparent; 
  border: 1px solid #6c757d; 
  color: #6c757d; 
  border-radius: 10px; 
  padding: 8px;
  margin-bottom: 15px;
}

#login-username:focus,
#login-password:focus {
  border-color: #ffffff;
}

#tournament-section.hidden {
  display: none;
}

.tournament-title {
  background-color: #333; /* Couleur de fond du titre du tournoi */
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.tournament-row h3 {
  color: white;
  padding: 5px;
  border: 1px solid #ccc; /* Bordure autour des titres de chaque colonne */
}

.semi-finals h3 {
  background-color: #6c7ae0; /* Couleur de fond pour les demi-finales */
}

.final h3 {
  background-color: #9b59b6; /* Couleur de fond pour la finale */
}

.winner h3 {
  background-color: #f1c40f; /* Couleur de fond pour le vainqueur */
}

.matches-container {
  border: 2px solid #ccc; /* Bordure autour de la zone des matchs */
  padding: 10px;
  margin-bottom: 15px;
}

.match {
  background-color: #ecf0f1; /* Couleur de fond pour chaque match */
  border: 1px solid #7f8c8d; /* Bordure pour chaque match */
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}

.match .player {
  padding: 5px; /* Espacement autour du texte du joueur */
  border-bottom: 1px solid #bdc3c7; /* Bordure entre les joueurs */
}

.match .player:last-child {
  border-bottom: none; /* Pas de bordure pour le dernier joueur */
}

.match .vs {
  text-align: center;
  margin: 10px 0;
}

#available-tournaments {
  max-height: 300px; /* ou la hauteur que vous souhaitez */
  overflow-y: auto; /* active l'ascenseur vertical si nécessaire */
  display: flex;
  flex-direction: column;
  gap: 10px; /* ajoute un espace entre les boutons */
}

.sort-indicator {
  margin-left: 5px;
  user-select: none; 
}


/* .tournament-btn {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white; /* Définir la couleur du texte en blanc
  background-color: #001d3c; 
  border-color: #007bff; 
} */




