version: '3.8'

services:
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=your_database_name
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=your_email@example.com
      - PGADMIN_DEFAULT_PASSWORD=your_password
    ports:
      - "5050:80"

  backend:
    build: ./backend
    command: sh -c "python3 manage.py makemigrations && python3 manage.py makemigrations djangoBack && python3 manage.py migrate && gunicorn --bind 0.0.0.0:8000 djangoBack.wsgi:application"
    volumes:
      - ./backend:/app
    environment:
      - POSTGRES_DB=your_database_name
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - DJANGO_SECRET_KEY=your_secret_key
      - DJANGO_DEBUG=True
    depends_on:
      - db

  frontend:
    build: ./frontend
    command: npm run dev -- --host
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  postgres_data:
