asgiref
Django==3.2.12
psycopg2-binary==2.9.9
channels==4.0.0
djangorestframework-simplejwt
pyotp
qrcode
Pillow
uvicorn[standard]
channels_redis
python-dotenv
django-cors-headers
requests==2.26.0
django-oauth-toolkit